body .nav-link {
  font-family: "Quicksand", sans-serif;
  color: white;
  text-transform: uppercase;
}

body .nav-link:hover {
  color: #fff;
  font-weight: 700;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  border-bottom: 2px solid white;
}

.navbar-brand {
  max-width: 150px;
}

.menu-btn {
  width: 30px;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 2.4rem;
  color: #233d62;
  font-weight: bold;
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.375rem;
  color: #233d62;
  font-weight: 700;
}

p {
  font-family: "Quicksand", sans-serif;
  font-size: 1.125rem;
  color: #727b99;
  line-height: 1.6rem;
}

.our_btn {
  color: white;
  background-color: #9d4ffd;
  border-radius: 2rem;
  font-family: "Quicksand", sans-serif;
  padding: 0.7rem 2.4rem;
  text-decoration: none;
  text-transform: uppercase;
}

.our_btn:hover {
  font-weight: 700;
  border: 2px solid #233d62;
  background-color: white;
  color: #233d62;
  -webkit-box-shadow: 0 0 30px #3a3b3b40;
          box-shadow: 0 0 30px #3a3b3b40;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.our_card:hover {
  -webkit-box-shadow: 0 0 40px #3a3b3b30;
          box-shadow: 0 0 40px #3a3b3b30;
  border-radius: 1rem;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.desh_line {
  height: 0.2rem;
  width: 6rem;
  background-color: #9d4ffd;
  border-radius: 10px;
}

.red_text {
  color: #9d4ffd;
  font-family: "Quicksand", sans-serif;
  line-height: 0%;
  font-size: 1.125rem;
  font-weight: 500;
}

.work_effect {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #233d62;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.25rem;
}

.work_effect:hover {
  color: #9d4ffd;
}

.input_style {
  background: transparent;
  font-family: "Quicksand", sans-serif;
  color: #233d62;
  border: 0px;
  border-bottom: 2px solid #9d4ffd;
  border-radius: 0px;
  padding: 0.7rem 2rem;
  font-weight: 500;
  max-width: 20rem;
}

.input_style:hover {
  border-bottom: 3px solid #9d4ffd;
}

@media screen and (min-width: 570px) {
  .media_q {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 770px) {
  .media_q {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top-paragraph {
    color: white;
  }
  h1 {
    color: white;
    font-size: 2rem;
  }
  h2 {
    font-size: 1.125rem;
  }
  p {
    font-size: 0.9rem;
    line-height: 1.25rem;
  }
  .our_btn {
    font-size: .9rem;
  }
}
/*# sourceMappingURL=style.css.map */